body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #eee;
  align-items: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('images./banner.png') center/cover no-repeat;
  color: white;
  text-align: center;
  padding-top: 150px;
}

/* SEARCH */
#searchInput {
  width: 350px;              
  padding: 6px 10px;         
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #333;  
  background: transparent;
  outline: none;
  text-align: center;        
}

#searchInput:focus {
  border-bottom: 2px solid brown;
}

/* LAYOUT */
.container {
  display: flex;
}

aside {
  width: 200px;
  padding: 20px;
  background: #f5f5f5;
}

main {
  flex: 1;
  padding: 20px;
}

/* PRODUCTS */
.shop-page .product {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  transition: 0.3s;
}

.shop-page .product img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  background: #f0f0f0;
}

.shop-page .banner {
  width: 90%;
  height: 250px;
  margin: 60px auto;
  background-color: #f8f8f8; 
  background-image: url('images./shoppage-banner.png'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

/* CONTACT PAGE BANNER */
.contact-footer-banner {
  width: 100%;
  height: 400px;
  margin-top: 40px;
  background: url('images./Contact-banner.png') center/cover no-repeat;
  border-top: 5px solid brown;
}

button {
  background: brown;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.contact {
  padding: 50px;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

/* POPUP STYLING */
.review-popup {
  position: fixed;
  bottom: -150px;
  right: 20px;
  width: 280px;
  background: white;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  border-left: 5px solid brown;
  border-radius: 8px;
  transition: bottom 0.6s ease-in-out;
  z-index: 1000;
}

.review-popup.show { bottom: 20px; }
.stars { color: #f39c12; font-size: 18px; }
.customer-name { font-size: 12px; font-weight: bold; color: brown; }
.close-popup { position: absolute; top: 5px; right: 10px; cursor: pointer; color: #999; }